<!DOCTYPE html>
<html lang="zh" >
<head>
  <meta charset="UTF-8">
  <title>来点品位|{{title}}热搜</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link rel="stylesheet" href="./style.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7895795513180477",
    enable_page_level_ads: true
  });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145084080-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145084080-1');
</script>

<style type="text/css">

</style>
</head>
<body>
<!-- partial:index.partial.html -->

<div class="dailyUserRanking">
  <div class="dailyUserRanking-title"><span class="fa fa-arrow-up"></span>
    <h3 class="dailyUserRanking-heading">{{title}} ranking</h3>
  </div>
  <div class="dailyUserRanking-content">
    <div class="userRanking">
      <ul class="userRanking-list">
      	{% for item in data %}
        <li class="userRanking-item">
        	<a href="#">
        	<span class="userRanking-item-rank">{{ loop.index }}</span>
            <p class="userRanking-item-name">{{ item.keywords }}</p>
            <div class="userRanking-item-view">
              <p class="userRanking-item-view-title">view</p>
              <p class="userRanking-item-view-number">{{item.searchNums}}</p>
            </div>
        	</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <a href="./index.php"><span class="fa fa-caret-right"></span>抖音</a>
  <a href="./index.php?type=weibo"><span class="fa fa-caret-right"></span>微博</a>
  <a href="./index.php?type=douban"><span class="fa fa-caret-right"></span>豆瓣</a>
  <a href="./index.php?type=toutiao"><span class="fa fa-caret-right"></span>头条</a>
</div>
<!-- partial -->
  
</body>
</html>